@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgba(250, 244, 229, 0.938);
}
header{
    line-height: 6vh;
    background-color: rgb(11, 10, 54);
}
.title{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    height: 40vh;
    max-width: 30vw;
    margin-top: 18%;
}
main input{
    border: none;
    margin-bottom: 8px;
    line-height: 3vh;
    background-color:rgba(250, 244, 229, 0.938) ;
    border-bottom: 1.5px solid black;
    padding: 3px;
    outline: none;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}
main input:hover{
    transition: all 0.5s ease;
    border-bottom: 1.5px solid blue;
}
